@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,800");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

img,
video,
embed,
object {
  max-width: 100%;
}
.parallax-section {
  background-attachment: fixed !important;
}
.btn-capsul {
  border-radius: 30px;
}
.btn-aqua {
  background: #0297ff;
  color: #fff;
}
.btn-aqua:hover {
  background: #10629b;
  color: #fff;
}
.btn-dark-blue {
  background: #0c242e;
  color: #fff;
}
.btn-dark-blue:hover {
  background: #063d28;
  color: #fff;
}
.btn-transparent-white {
  border: 2px solid #fff;
  color: #fff;
}
.btn-transparent-white:hover,
.btn-transparent-white:focus {
  background: #fff;
  color: #0297ff;
}
.relative-box {
  position: relative;
}
section {
  float: left;
  width: 100%;
  padding: 80px 0;
}
/* Loader
-------------------------------------------------- */

.loaders {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.loaders .loader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 25%;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.loader {
  display: table;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1200;
}
.loader-bg {
  background: #0297ff;
}
.loader-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.loader .ball-clip-rotate-pulse {
  left: 50%;
  position: absolute;
  top: 50%;
}
/* TOP HEADER
-------------------------------------------------- */
.social {
  transform: translate(0, 10);
}
.social li {
  display: inline;
  list-style-type: none;
  font-size: 2em;
  color: white;
}

.social i {
  color: #666;
}
.navbar.top-bar {
  border-radius: 0;
  padding: 16px 0;
  z-index: 16;
}
.navbar-toggler {
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 50px;
  color: #585c5f;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
}
.sps {
  padding: 1em 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}
.sps--abv {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}
.sps--blw {
  background-color: #fff;
  color: #fff;
}
.top-bar a.navbar-brand {
  color: rgb(0, 87, 12);
  /* font-size: 26px; */
  font-weight: 400;
  padding: 5px 0 0 10px;
  text-transform: uppercase;
  font-family: "Raleway", "Lato";
  font-weight: 100;
  letter-spacing: -2px;
}
.sps--blw.top-bar a.navbar-brand {
  color: #000;
}
.top-bar a.navbar-brand span {
  font-weight: 800;
  letter-spacing: -2px;
}
.top-bar .nav-link {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 18px;
  margin-left: 15px;
}
.sps--blw.top-bar .nav-link {
  color: #000;
}
.top-bar .navbar-nav .nav-item {
  margin: 0;
}

.top-bar .navbar-collapse.show .navbar-nav .nav-item {
  background: rgba(255, 255, 255, 0);
  padding: 2%;
}

.top-bar .nav-link:hover,
.top-bar .nav-item.active a {
  color: #fff;
  background: #0ad64e;
  border-radius: 40px;
  transition: 1s;
}

.sps--blw.top-bar .nav-link:hover,
.sps--blw.top-bar .nav-item.active a {
  color: #fff;
  background: #0ad64e;
  border-radius: 40px;
  transition: 1s;
}
/* #navbarCollapse1.navbar-collapse.collapse.show{
	background: rgba(255,255,255,0.6)
} */

.nav-item:active {
  background: #0ad64e;
}

.footer-new li {
  display: block;
  float: left;
  padding: 1%;
}

.social-li {
  font-size: 2em;
}

.about-read {
  margin: 0 auto;
  display: flex;
  align-content: right;
  align-self: right;
}

.dropdown-item:hover {
  background-color: #0ad64e;
  color: #fff;
  transition: 1s;
}

/*project gallery */

.title {
  text-align: center;
  font-family: "Oswald";
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 1px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
@media screen and (min-width: 37.5em) {
  .title {
    font-size: 3rem;
  }
}

/* .project-gallery p {
  margin: 0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color: #444;
  font-weight: 100;
  width: 90%;
} */
@media screen and (min-width: 37.5em) {
  p {
    height: 70%;
  }
}

.case-study-gallery {
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.4s ease;
}
@media screen and (min-width: 37.5em) {
  .case-study {
    height: 300px;
  }
}
@media screen and (min-width: 45em) {
  .case-study {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.case-study__overlay:after {
  content: "";
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all 0.3s ease;
}

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2rem;
  font-family: "Oswald";
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study:hover .case-study__title {
  top: 0;
}
.case-study:hover .case-study__overlay:after {
  opacity: 0.75;
}

.study1 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520984093/honourable/football3.jpg");
}

.study2 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987251/honourable/football4.png");
}

.study3 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520984094/honourable/football6.png");
}

.study4 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987246/honourable/3.png");
}

.study5 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987246/honourable/4.png");
}

.study6 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987246/honourable/2.png");
}
.study7 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987248/honourable/5.png");
}

.study8 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987259/honourable/1.png");
}

.study9 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520988553/honourable/trans2.jpg");
}

.study10 {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520988553/honourable/trans5.jpg");
}

/* others page */

.carousel {
  position: relative;
}

.controllers {
  position: absolute;
  top: 50px;
}

.carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 30px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
  text-align: center;
  text-shadow: none;
  /* //text-shadow: 0 1px 2px rgba(0,0,0,.6); */
}

/* other activity */

.other-activity.card {
  border: 0;
}

.other-activity p {
  padding: 2%;
}

#others {
  transform: translateY(-40px);
}

#other {
  transform: translateY(-40px);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Swiper*/
.swiper-container {
  width: 100%;
  height: 80vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-slider .slider-bg-position {
  background-size: cover !important;
  background-position: center center !important;
}
.main-slider .swiper-button-prev,
.main-slider .swiper-button-next {
  background-image: none !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.main-slider h2 {
  color: #fff;
  font-size: 54px;
  line-height: 59px;
  padding: 0 19%;
  text-transform: uppercase;
}
.main-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
}
.main-slider .swiper-pagination-bullet-active {
  background: #0297ff;
}
/* SERVICE SECTION
-------------------------------------------------- */

.service-sec .heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
}
.service-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #0ad64e;
  font-size: 32px;
}
.service-sec h2 small {
  color: #222;
  display: block;
  font-size: 22px;
  margin-bottom: 18px;
}
.service-sec i {
  border: 0px solid rgb(34, 153, 10);
  border-radius: 2px;
  font-size: 35px;
  padding: 12px 0;
  width: 52px;
  color: rgb(34, 153, 10);
  margin-bottom: 20px;
}
.service-sec h3 {
  font-size: 23px;
  font-weight: 600;
}
.service-sec p {
  line-height: 22px;
  margin-top: 13px;
  padding: 0 21px;
}
.service-sec .service-block {
  margin-top: 30px;
  text-align: center;
}
/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
  background: url("../img/nass3.jpg") no-repeat center bottom;
  background-size: cover;
  color: #fff;
  position: relative;
}
.about-sec:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 153, 10, 0.5);
  top: 0;
  left: 0;
}
.about-sec h2 {
  font-size: 55px;
  font-weight: 800;
  margin-top: 25%;
}
.about-sec h2 small {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 10px;
}
.about-sec p {
  font-size: 16px;
}

.center {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
/* BLOG SECTION
-------------------------------------------------- */
.blog-sec .blog-box {
  text-align: center;
}
.blog-sec .heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
}
.blog-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #0ad64e;
  font-size: 32px;
}
.blog-sec h2 small {
  color: #222;
  display: block;
  font-size: 22px;
  margin-bottom: 18px;
}
.blog-sec h3 small {
  display: block;
  color: #0297ff;
  margin-bottom: 15px;
}
.blog-sec h3 a {
  color: #333;
  font-size: 22px;
}
.blog-sec h3 a:hover {
  color: #0ad64e;
  text-decoration: none;
}
.blog-sec .blog-image-block {
  margin-bottom: 40px;
}
.blog-sec .blog-image-block img {
  border-radius: 5px;
}
/*-------------- Video section  --------------*/
.video-sec {
  background: url("http://res.cloudinary.com/cortehz/image/upload/v1520987260/honourable/ScreenShot.png")
    50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  color: #fff;
}
.video-sec .overlay {
  background: rgba(03, 03, 03, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.video-sec h2 {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 16px;
}
.video-sec small {
  color: #fff;
  display: block;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.video-sec .fa {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-top: 22px;
}

/*-------------- Project Page  --------------*/

.swiper-container1 {
  width: 100%;
  height: 50vh;
}
.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: red;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-slider1 .slider-bg-position1 {
  background-size: cover !important;
  background-position: center center !important;
}
.main-slider1 .swiper-button-prev1,
.main-slider1 .swiper-button-next1 {
  background-image: none !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.main-slider1 h2 {
  color: #fff;
  font-size: 54px;
  line-height: 59px;
  padding: 0 19%;
  text-transform: uppercase;
}
.main-slider1 .swiper-pagination-bullet1 {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
}
.main-slider1 .swiper-pagination-bullet-active1 {
  background: #0297ff;
}

.project {
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #005a31;
  color: white;
  padding: 1%;
  width: 300px;
  border: 2px solid white;
  z-index: 1;
  transform: translateY(-50px);
  margin: 0 auto;
  border-radius: 5px;
}

.project h1 {
  font-size: 1.5em;
}

.energy {
  border: 1px solid #005a31;
  color: #005a31;
  background: #fff;
  display: block;
  padding: 3%;
  margin-left: -30px;
  text-decoration: none;
}

.energy:hover {
  border: 1px solid green;
  background: #cbe32d;
  display: block;
  padding: 3%;
  transition: 1s;
}

a {
  text-decoration: none;
}

.power,
.power a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

.card {
  margin: 2%;
  background: rgba(0, 0, 0, 0.788);
  color: #fff;
}

.card img {
}

/*
flex-card*/

.other-activity {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.other-activity div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  max-width: 400px;
  margin: 0.5vw;
}
.other-activity div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  .other-activity div {
    margin: 0;
  }
  .other-activity {
    padding: 0;
  }
}

.activity-group {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.4s ease;
}
@media screen and (min-width: 37.5em) {
  .activity-group {
    height: 300px;
  }
}
@media screen and (min-width: 45em) {
  .activity-group {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

.activity-group__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.activity-group__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.activity-group__overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all 0.3s ease;
}

.activity-group__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 100;
  color: white;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.activity-group:hover .activity-group__title {
  top: 0;
}
.activity-group:hover .activity-group__overlay:after {
  opacity: 0.75;
}

.first {
  background-image: url("../img/football2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.second {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520984129/honourable/stober.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.third {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520984140/honourable/rivers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.fourth {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520987249/honourable/8.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.fifth {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520984089/honourable/dangote.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sixth {
  background-image: url("http://res.cloudinary.com/cortehz/image/upload/v1520984092/honourable/esama.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*-------------- news section  --------------*/

.latest {
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
}

.latest-news h1 {
  color: #cc0042;
}
.box {
  background: #cc0042;
  flex-basis: 200px;
  flex-grow: 1;
  /* or this: flex: 1 1 200px; */
  color: white;
  font-family: Helvetica;
  padding: 20px;
  transition: 0.1s background;
}

/* .box a{
	margin-top: -60px;
} */

. .box:hover {
  background: #ff0052;
}

.middle {
  background: #b20039;
}

/*--------------filter css--------------*/
.filter-wrapper {
  width: 100%;
  margin-bottom: 42px;
  overflow: hidden;
}
.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}
.filter-wrapper li a {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 17px;
  margin-right: 2px;
  margin-left: 2px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #fff;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #0297ff;
  border-bottom: 2px solid #0297ff;
}
/*--------------isotope box css--------------*/
.iso-box-section {
  width: 100%;
}
.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}
.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 30px;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}
/* CALL TO ACTION
-------------------------------------------------- */
.cta-block {
  background: url("../img/cta-bg.jpg") repeat;
  padding: 30px 0;
  color: #fff;
  text-transform: capitalize;
}
.cta-block h4 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
}
.cta-block p {
  margin-bottom: 0;
  font-size: 18px;
}
/* ABOUT SECTION
-------------------------------------------------- */

.about-home-block h2 {
  color: #4c4c4c;
  font-size: 38px;
  margin: 35px 0 10px;
  text-transform: capitalize;
}
.about-home-block h2 small {
  color: #01bf86;
  display: block;
  text-transform: uppercase;
  font-size: 28px;
}
.about-home-block .lead {
  font-size: 18px;
  line-height: 28px;
}
/* PRICE SECTION
-------------------------------------------------- */

.price-sec h2 {
  color: #4c4c4c;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.price-sec h2 small {
  color: #01bf86;
  display: block;
  line-height: 27px;
  margin-top: 10px;
}
.price-sec .plan-block {
  border: 2px solid #01bf86;
  color: #01bf86;
  float: left;
  padding: 60px 0;
  text-align: center;
  width: 100%;
  margin-top: 90px;
  border-radius: 10px;
}
.price-sec .plan-block.middle {
  margin-top: 70px;
  padding: 80px 0;
}
.price-sec .plan-block .heading,
.price-sec .plan-block .heading > span,
.price-sec .plan-block .detail-sec {
  float: left;
  width: 100%;
}
.price-sec .plan-block .detail-sec ul {
  padding: 0;
  list-style: none;
}
.price-sec .heading .price {
  font-size: 36px;
  font-weight: 700;
  background: #01bf86 none repeat scroll 0 0;
  color: #fff;
}
.price-sec .heading .price b {
  font-weight: 400;
}
.price-sec .heading .plan-type {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.price-sec .heading .duration {
  margin: 5px 0 20px;
}
.price-sec .plan-block .detail-sec ul {
  list-style: outside none none;
  margin: 0 auto 50px;
  padding: 0;
  text-align: left;
  width: 50%;
}
.price-sec .plan-block .detail-sec li {
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
}
.price-sec .plan-block .detail-sec i {
  margin-right: 10px;
  margin-top: 3px;
}
.price-sec .btn {
  padding-left: 50px;
  padding-right: 50px;
}
/* QA SECTION
-------------------------------------------------- */
.qa-section {
  background: url(../img/section-bg-white.jpg) no-repeat 0 bottom #f5f5f5;
  background-size: cover;
}
.qa-section h2 {
  color: #4c4c4c;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}
.qa-section h2 small {
  color: #01bf86;
  display: block;
  line-height: 27px;
  margin-top: 10px;
}
.qa-section .card-header h5 a.collapsed {
  color: #01bf86;
}
.qa-section .card-header h5 a {
  color: #01bf86;
  font-weight: 500;
  font-size: 25px;
}
.qa-section .card-header h5 a:hover,
.qa-section .card-header h5 a:focus {
  text-decoration: none;
}
.qa-section .card-header {
  background: #0c242e;
}
/* TESTIMONIAL SECTION
-------------------------------------------------- */

.testimonial-sec {
  background: #01bf86;
}
.testimonial-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}
.testimonial-sec h2 small {
  display: block;
  font-size: 24px;
  margin-top: 10px;
}
.testimonial-sec .card {
  background: #fff;
  border: none;
  padding-top: 30px;
  border-radius: 16px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.testimonial-sec .card img {
  border-radius: 50%;
  width: 150px;
  border: 7px solid #01bf86;
}
.testimonial-sec .card h3 {
  color: #01bf86;
}
.testimonial-sec .card h3 small {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 17px;
  margin-top: 5px;
}
.testimonial-sec .card .card-text {
  font-style: italic;
  padding: 0 20px;
}
/* CONTACT SECTION
-------------------------------------------------- */
.contact-sec {
  background: url("http://res.cloudinary.com/cortehz/image/upload/v1520987248/honourable/contact.jpg")
    no-repeat 0 bottom;
  background-size: cover;
  background-position: top;
}
.contact-sec h2 {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}
.contact-sec h2 small {
  color: #fff;
  display: block;
  line-height: 27px;
  margin-top: 10px;
}
.contact-sec label {
  color: #fff;
}
.contact-sec input[type="text"],
.contact-sec input[type="email"] {
  border-radius: 0px;
}
.contact-sec textarea {
  border-radius: 0;
  height: 50px;
}
.contact-sec .action-block {
  margin-top: 40px;
}
.contact-sec .action-block a.btn {
  padding-left: 35px;
  padding-right: 35px;
  text-transform: uppercase;
  font-weight: 600;
}
.contact-sec .form-control {
  background: transparent;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  padding-left: 0;
}
footer {
  float: left;
  background: #666;
  width: 100%;
  color: #fff;
  padding: 20px 0;
}
.logo {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
}

.adress span,
.menu span {
  color: #fff;
  font-weight: 800;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.adress li a,
.menu li a {
  color: #fff;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 12px;
}

.adress li,
.menu li {
  margin-top: 5px;
  list-style: none;
}

.adress li a:hover,
.menu li a:hover {
  color: #2fb3f0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fa {
  color: #2fb3f0;
  margin-right: 10px;
  font-size: 14px;
}

.menu span {
  color: #2fb3f0;
}

.adress span {
  color: #2fb3f0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (max-width: 767px) {
  .carousel-caption {
    top: 25%;
  }
  .carousel {
    height: 100vh;
  }
  .carousel-caption h1 {
    font-size: 29px;
  }
  .top-bar .navbar-nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
  }
  .collapsing {
    transition-duration: 0s;
    overflow: none;
  }
  .carousel-caption {
    top: 20%;
  }
  .carousel {
    height: 100vh;
  }
}
@media (max-width: 543px) {
  .carousel-caption {
    left: 2%;
    top: 25%;
    width: 96%;
  }
  .main-slider h2 {
    color: #fff;
    font-size: 25px;
    line-height: 39px;
  }
}

/* MEDIA QUERIES */

@media (max-width: 360px) {
  .project {
    margin-top: 15px;
  }
  .logo-img {
    width: 70px;
    height: 70px;
  }

  .swiper-container1 {
    height: 20vh;
  }

  .navbar-toggler {
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 50px;
    color: #585c5f;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff;
  }
}

@media (max-width: 480px) {
  .top-bar a.navbar-brand {
    font-size: 20px;
  }

  .button-bars {
    display: flex;
    align-self: flex-end;
    align-content: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
  }

  div.container {
    margin-left: 15px;
  }

  .project {
    margin-top: 15px;
  }
  .logo-img {
    width: 100px;
    height: 100px;
  }

  .swiper-container1 {
    height: 40vh;
  }
  .navbar-toggler {
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 50px;
    color: #585c5f;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff;
  }
}

@media (max-width: 600px) {
  .top-bar a.navbar-brand {
    font-size: 20px;
  }

  div.container {
    margin-left: 15px;
  }

  .project {
    margin-top: 15px;
  }

  .navbar-toggler {
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 50px;
    color: #585c5f;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff;
  }

  .logo-img {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 768px) {
  .top-bar a.navbar-brand {
    font-size: 1rem;
  }

  .navbar-toggler {
    cursor: pointer;
    position: fixed;
    right: 1.5px;
    top: 55px;
    color: #585c5f;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff;
  }
}

@media (max-width: 1024px) {
  div.container {
    margin-left: 15px;
  }
}
